<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Weight Column -->
    <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let element; let posicao = index" class="coluna_botao"> 
          <button mat-button (click)="deleteEvento(element.idEvento)"><mat-icon class="button delete_button">delete_sweep</mat-icon></button>
        </td>
      </ng-container>

    <ng-container matColumnDef="evento">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element" class="eventos"> 
                {{element.nomeEvento}}
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element" class="datas"> {{element.dataInicio}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fim">
      <th mat-header-cell *matHeaderCellDef> Fim </th>
      <td mat-cell *matCellDef="let element" class="datas"> {{element.dataFim}} </td>
    </ng-container>

    <ng-container matColumnDef="menus">
        <th mat-header-cell *matHeaderCellDef> MENUS </th>
        <td mat-cell *matCellDef="let element" class="coluna_botao"> 
          <div>
            <button mat-button><mat-icon class="button">person_add</mat-icon></button>
            <button mat-button (click)="openDialog(element.idEvento)"><mat-icon class="button">card_giftcard</mat-icon></button>
            <button mat-button><mat-icon class="button">create</mat-icon></button>
          </div>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>