<form class="example-form" [formGroup]="formEnvio">
  <div *ngIf="data.tipo=='cadastro'"><h1 mat-dialog-title>Cadastro de Beneficio</h1></div>
  <div *ngIf="data.tipo=='editar'"><h1 mat-dialog-title>Editar o Beneficio</h1></div>
  <div *ngIf="data.tipo=='excluir'"><h1 mat-dialog-title>Você tem certeza que quer excluir o item?</h1></div>

  <div mat-dialog-content>
    <div *ngIf="formulario">
      <mat-form-field class="form-full-width">
          <input formControlName="beneficio" matInput placeholder="Nome do Beneficio" required>         
      </mat-form-field>
    </div>
  </div>

<div *ngIf="data.tipo=='cadastro'">
  <div mat-dialog-actions>
    <button mat-button (click)="postBeneficio()" cdkFocusInitial class="action_button"><mat-icon>control_point</mat-icon> Inserir</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial class="action_button">Fechar</button>
  </div>
</div>

<div *ngIf="data.tipo=='editar'">
  <div mat-dialog-actions>
    <button mat-button (click)="editarBeneficio()" cdkFocusInitial class="action_button"><mat-icon>create</mat-icon> Editar</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial class="action_button">Fechar</button>
  </div>
</div>

<div *ngIf="data.tipo=='excluir'">
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="fecharDialog(true)" cdkFocusInitial class="action_button"><mat-icon>delete_sweep</mat-icon> Excluir</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial class="action_button">Fechar</button>
  </div>
</div>

</form>