button{
    width: 47%;
    border: solid 1px #ccc;
}

.form-full-width{
    width: 100%;
}

.uploadButton {
    margin: auto;
    width: 100%;
}

mat-spinner{
    margin-left: 20px;
    margin-right: 10px;
    zoom: 0.25;
}