<form class="example-form" [formGroup]="formEnvio">
<div *ngIf="data.tipo=='cadastro'"><h1 mat-dialog-title>Cadastro de Evento</h1></div>
<div *ngIf="data.tipo=='editar'"><h1 mat-dialog-title>Editar o Evento</h1></div>
<div *ngIf="data.tipo=='excluir'"><h1 mat-dialog-title>Você tem certeza que quer excluir o evento?</h1></div>

  
<div *ngIf="data.tipo=='confirmar'">
  <h1 mat-dialog-title>Voce confirma a operação?</h1>

  <div mat-dialog-content>
  
    <p>
      As datas não estão compatíveis, a data de início esta maior que a data de fim!
    </p>
    
  </div>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="resposta(true)" cdkFocusInitial>SIM</button>
    <button mat-button [mat-dialog-close]="resposta(false)" cdkFocusInitial>Cancelar</button>
  </div>
</div>

<div *ngIf="formulario">
  <mat-form-field class="form-full-width">
      <input formControlName="evento" matInput placeholder="Nome do Evento" required>         
  </mat-form-field>
  <mat-form-field class="form-full-width">
      <input formControlName="descricao" matInput placeholder="Descricao do Evento" required>         
  </mat-form-field>
  <mat-form-field class="form-full-width">
    <input matInput placeholder="Data de Inicio" type="datetime-local" formControlName="dataInicio"required>
  </mat-form-field>
  <mat-form-field class="form-full-width">
    <input matInput placeholder="Data de Fim" type="datetime-local" formControlName="dataFim"required>
  </mat-form-field>
  
  <app-aa-xlsx-conversor [idEvento]="idEvento" (ArquivoConvertido)="enviarCarga($event)">
    <button  mat-button class="uploadButton">
      <mat-icon>upload</mat-icon>Enviar carga de dados
    </button>
</app-aa-xlsx-conversor>
</div>


<div *ngIf="data.tipo=='cadastro'">   
    <div mat-dialog-actions>
      <button mat-button (click)="postEvento()" cdkFocusInitial><mat-icon>save_alt</mat-icon>Cadastrar</button>
      <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
</div>

<div *ngIf="data.tipo=='editar'">
    <div mat-dialog-actions>
      <button mat-button (click)="editarEvento()" cdkFocusInitial><mat-icon>save</mat-icon>Editar</button>
      <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
</div>

<div *ngIf="data.tipo=='excluir'">
  <div mat-dialog-actions>
    <button mat-button (click)="deleteEvento()" cdkFocusInitial><mat-icon>delete</mat-icon>Excluir</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
  </div>
</div>

</form>