<form class="example-form" [formGroup]="formEnvio">
<div *ngIf="data.tipo=='cadastro'"><h1 mat-dialog-title>Cadastro de Evento</h1></div>
<div *ngIf="data.tipo=='editar'"><h1 mat-dialog-title>Editar o Evento</h1></div>
<div *ngIf="data.tipo=='excluir'"><h1 mat-dialog-title>Você tem certeza que quer excluir o evento?</h1></div>

  
<div *ngIf="data.tipo=='confirmar'">
  <h1 mat-dialog-title>Voce confirma a operação?</h1>

  <div mat-dialog-content>
  
      Teste de Dialog Novo
  
  </div>
  
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial>SIM</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial>Cancelar</button>
  </div>
</div>

<div *ngIf="formulario">
  <mat-form-field class="form-full-width">
      <input formControlName="evento" matInput placeholder="Nome do Evento" required>         
  </mat-form-field>
  <mat-form-field class="form-full-width">
      <input formControlName="descricao" matInput placeholder="Descricao do Evento" required>         
  </mat-form-field>
  <mat-form-field class="form-full-width">
    <input matInput placeholder="Data de Inicio" type="date" formControlName="dataInicio"required>
  </mat-form-field>
  <mat-form-field class="form-full-width">
    <input matInput placeholder="Data de Fim" type="date" formControlName="dataFim"required>
  </mat-form-field>
</div>


<div *ngIf="data.tipo=='cadastro'">   
    <div mat-dialog-actions>
      <button mat-button (click)="postEvento()" cdkFocusInitial>Cadastrar</button>
      <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
</div>

<div *ngIf="data.tipo=='editar'">
    <div mat-dialog-actions>
      <button mat-button (click)="editarEvento()" cdkFocusInitial>Editar</button>
      <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
    </div>
</div>

<div *ngIf="data.tipo=='excluir'">
  <div mat-dialog-actions>
    <button mat-button (click)="deleteEvento()" cdkFocusInitial><mat-icon>delete</mat-icon>Excluir</button>
    <button mat-button [mat-dialog-close]="fecharDialog()" cdkFocusInitial><mat-icon>cancel</mat-icon>Cancelar</button>
  </div>
</div>

</form>