.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina{
    padding: 15px;
    margin: 3px;
    height: 450px;
}

.card-principal{
    padding: 30px;
    width: 70%;
    height: 90%;
    border-radius: 20px;
    
    /* Para centralizar a DIV no centro da página */
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    justify-content: center;
    justify-items: center;

    -webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}

.card-principal mat-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-bottom: 25px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartao {
    height: 100px;
    width: 200px;
    background-color: aliceblue;
    margin: 6px;
}

.descricao {
    position: absolute;
    top: 15px;
    left: 15px;
}

.nome{
    position: absolute;
    bottom: 2px;
    left: 15px;
}

.simbolo {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn-coletar{
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.recebido {
    color: greenyellow;
}

button{
    width: 100%;
}