
<div class="body">
    <div class="pagina">
        <mat-card class="card-principal">

            <button class="btn-voltar" mat-raised-button color="accent" (click)="retornar()">VOLTAR</button>

            <mat-card-header>
                <mat-card-title>RETIRADA ILHA CESTA CONGELADA</mat-card-title>
            </mat-card-header>

            <section class="conteudo" >
                <div *ngFor="let beneficio of beneficios; index as i" >
                    <mat-card class="cartao">
                        <div class="descricao">
                            <mat-card-title>{{ beneficio.beneficio }}</mat-card-title>
                            <mat-card-subtitle>QUANTIDADE: {{ beneficio.quantidade }}</mat-card-subtitle>
                        </div>
                        <div class="nome">
                            <h4>{{ beneficio.beneficiario }}</h4>
                        </div>
                        <div class="simbolo">
                            <div *ngIf="beneficio.entregue === 1 else naoEntregue">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <ng-template #naoEntregue>
                                <mat-icon>check_circle_outline</mat-icon>
                            </ng-template>
                        </div>
                        <div class="btn-coletar">
                            <div *ngIf="beneficio.entregue === 0 else mensagem">
                                <button mat-raised-button color="primary" (click)="darBaixa(beneficio.idBeneficiario, beneficio.idBeneficio)">COLETAR</button>
                            </div>
                            <ng-template #mensagem>
                                <p>Recebido</p>
                            </ng-template>
                        </div>
                    </mat-card>
                </div>
            </section>
        </mat-card>
    </div>
</div>