<div class="body" id="body">
    <div class="pagina">

        <div *ngIf="paginaRH; then temItem else naoTem" id="localCard"></div>
        <ng-template #temItem>
            <app-aa-xlsx-conversor>Enviar Planilha de Banco</app-aa-xlsx-conversor>   

            
            <app-aa-eventos-tabela></app-aa-eventos-tabela>


        </ng-template>
        <ng-template #naoTem>
            
            <app-tela-bloqueada></app-tela-bloqueada>
            
        </ng-template>

    </div>
</div>