
  .button{
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid 1px #CCC;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  .delete_button{
    color: rgb(175, 0, 0);
    border: solid 1px rgb(175, 0, 0);
  }

  button{
    width: 30px;
  }

  @media screen and (max-width: 900px) {
    .body{
        margin: 10px;
        width: 100%;
    }
    .pagina{
        width: 100%;
    }
    }

  @media screen and (max-width: 790px){
    button{
      width: 100%;
    }

    .coluna_botao{
      width: 30px;
    }
    
    .button{
      width: 100%;
    }
  }

.margem{
    padding-left: 15px;
    padding-right: 15px;
}

.fab{
    position: fixed;
    z-index: 999;
    bottom:10px;
    right:10px;
  }
  
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: rgb(0, 116, 151);
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
    font-size: 30px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(0, 116, 151);
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '+';
  }
    
  .fab button.main:active,
  .fab button.main:focus{
    outline: none;
    background-color: rgb(24, 204, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
   }
   
  .fab button.main:active:before,
  .fab button.main:focus:before{
    content: '...';
  }
