
<div class="body">
    <div class="pagina">
        <mat-card class="card-principal">
            <mat-card-header>
                <mat-card-title>ESCOLHA O TIPO DE RETIRADA</mat-card-title>
            </mat-card-header>
            <label for="idEvento">Id Evento:</label><input id="idEvento" [(ngModel)]="idEvento" placeholder="3AB37867-12C4-467A-A897-36D32A2FBC65" style="width: 80%; margin-left: 10px;">
            <label for="idEvento">Id Ilha:</label><input id="idIlha" [(ngModel)]="idIlha" placeholder="47992B34-AD6C-4E4A-A3CA-56A8AECCACB9" style="width: 80%; margin-left: 30px;">

            <button mat-raised-button>POR APROXIMAÇÃO DE CRACHÁ</button>
            

            <form class="cpf-edv-form" [formGroup]="cpfOuEdvForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="campoCpfEdv" appearance="fill">
                  <mat-label>Idenficação</mat-label>
                  <input type="number" matInput [formControl]="cpfOuEdvFormControl" formControlName="edvOuCpf" [errorStateMatcher]="matcher"
                         placeholder="CPF ou EDV">
                  <mat-hint>Digite aqui os dados para busca</mat-hint>
                  <mat-error *ngIf="cpfOuEdvFormControl.hasError('required')">
                    CPF ou EDV necessário <strong>Obrigatório</strong>
                  </mat-error>
                </mat-form-field>

                <button mat-raised-button color='primary' type="submit">RETIRADA POR CPF OU EDV</button>

              </form>

        </mat-card>
    </div>
</div>